{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Ajout dun évènement{% endblock %}

{% block body %}
    <h1>Nouvel évènement :</h1>

    {{ form_start(formulaire, {attr: {class: 'event-form'} }) }}
    {{ form_widget(formulaire) }}
    {{ form_end(formulaire) }}

{% endblock %}