{# MODULE : Évènements les plus récents #}

<h1>Les derniers évènements ajoutés</h1>
{% for event in lastAddedEvents %}
    <a href="{{ path("page_evenement", {id : event.id_event }) }}">{{ event.name }}</a><br/>
{% endfor %}