{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Mot de passe oublié{% endblock %}

{% block body %}

    <h1>Réinitialisation de mot de passe :</h1>

    <p>Pour réinitialiser votre mot de passe, merci d'entrer votre identifiant ou votre adresse mail.</p>

    {{ form_start(formulaire, {attr: {class: 'recovery-form'} }) }}
    {{ form_widget(formulaire) }}
    {{ form_end(formulaire) }}


{% endblock %}